camel-cxf-code-first/src/main/resources/wsdl/OrderEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderEndpointService" targetNamespace="http://ex421/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ex421/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://ex421/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ex421/" version="1.0">

  <xs:element name="order" type="tns:order"/>

  <xs:element name="orderResponse" type="tns:orderResponse"/>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="order">
    <wsdl:part name="parameters" element="tns:order">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderResponse">
    <wsdl:part name="parameters" element="tns:orderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderEndpoint">
    <wsdl:operation name="order">
      <wsdl:input name="order" message="tns:order">
    </wsdl:input>
      <wsdl:output name="orderResponse" message="tns:orderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderEndpointServiceSoapBinding" type="tns:OrderEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="order">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="order">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderEndpointService">
    <wsdl:port name="OrderEndpointPort" binding="tns:OrderEndpointServiceSoapBinding">
      <soap:address location="http://localhost:9090/OrderEndpointPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
